.navbar {
  position: relative;
  @include media-breakpoint-down(xl) {
    background-color: $info;
  }

  .dropdown-menu {
    height: 40vh;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    @include media-breakpoint-down(xl) {
      width: 100%;
      height: auto;
    }

    li {
      width: 50%;
      margin-left: 45%;
      margin-bottom: 0.5rem;
      font-weight: 400;
      &:hover {
        background-color: transparent;
      }
      @include media-breakpoint-down(xl) {
        margin-left: 0;
        width: 100%;
      }

      a {
        font-size: 1.25rem;
        @include media-breakpoint-down(xl) {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }

  &__dropdown-text {
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    left: 10%;
    top: 10%;
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &__link {
    @extend .nav-link;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-bottom: 2px solid transparent;
    @include media-breakpoint-down(xl) {
      text-align: center;
      padding: 1rem;
    }
    @include media-breakpoint-up(xl) {
      &:hover, &:active, &:focus {
        border-bottom: 2px solid $dark;
      }
    }
  }
}
