$font-family-noto: 'Noto Sans', sans-serif;
$font-family-base: $font-family-noto;

$primary: #30475E;
$secondary: #F05454;
$info: #E8E8E8;
$dark: #222831;

$navbar-light-color: $dark;
$navbar-light-hover-color: rgba($dark, .55);
$navbar-light-brand-color: $dark;